@import "tailwindcss";

.banner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @apply py-0 px-5 my-4 md:my-12 lg:my-14 2xl:my-20;
}

.banner-image {
    @apply md:w-xl lg:w-3xl 2xl:w-6xl;
}

.group-btn {
    @apply flex gap-2.5 mt-5 md:gap-3 2xl:mt-8 2xl:gap-5;
}

.banner-button {
    cursor: pointer;
    border-radius: 3px;
    @apply p-3 px-6 text-sm font-medium md:py-5 md:px-13 md:text-xl lg:py-5 lg:px-20 2xl:py-8 2xl:px-26 2xl:text-2xl transition-all duration-300 ease-in-out;
}

.order-button {
    color: #FFF;
    background: #ED1C00;
}

.menu-button {
    color: #ED1C00;
    background: transparent;
    border: 1px solid #ED1C00;
}

.order-button:hover,
.menu-button:hover {
    color: #FFF;
    background-color: #cc1901;
}