@import "tailwindcss";

.banner-container {
    @apply flex flex-col items-center py-0 px-5 my-4 md:my-12 lg:my-12 2xl:my-20;
}

.banner-image {
    @apply md:w-xl lg:w-3xl 2xl:w-6xl;
}

.group-btn {
    @apply flex gap-2.5 mt-5 md:gap-3 2xl:mt-8 2xl:gap-5;
}

.banner-button {
    border-radius: 3px;
    @apply cursor-pointer p-3 px-6 text-sm font-medium md:py-5 md:px-13 md:text-xl lg:py-4.5 lg:px-17 2xl:py-8 2xl:px-25 2xl:text-2xl transition-all duration-300 ease-in-out;
}

.order-button {
    @apply text-white bg-[#D01800];
}

.menu-button {
    @apply text-[#D01800] bg-transparent border-2 border-[#D01800];
}

.order-button:hover,
.menu-button:hover {
    @apply text-white bg-[#b31905];
}